*{
	margin:10;
	padding:0;
	list-style-type:none;
	/* font-family:'Redressed',cursive; */
	/* font-size:20px; */
}


body { 
    
    background-color:#f0e2cd;
    color:#333333fb;
   
}
header {text-align: center;
   
 
 font-family: 'Ruthie',cursive;
    font-size: 35px;
   
    font-style: italic;
    
}
#container{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

div.gallery{
    margin:  20px;
     
    
    width: auto;
    height: auto;
    padding: 15px;
    font-size: 20px;
}

.line{
    width: 180px;

border-bottom: 3px solid black;
position: absolute; 
font-size: 22px;

}



div.image{
    margin:  50px;
   
     /* background-color:rgb(238, 220, 194); */
     background-color: rgba(238, 220, 194, 0.7);
    border: 4px solid white;
    border-radius: 15px;
    float:left;
   
    font-style: italic; 
    width:190px;
    height: 150px;
    padding: 15px;
    font-size: 20px;
}

.space{
    padding-left: 160px;
}
div.image:hover  {
    /* display: block; */
    border: 1px solid #777;
    border-radius: 25px;
    box-shadow: 10px -10px white;
    
}
h1 { 
    /* background-color:#fae5c4;  */
     background-color: rgb(199, 161, 135); 
    
    color:black;
    height:70px;
    text-shadow: 0 4px 0 #f0e2cd;
}

div.border{
    text-align: center;
    font-style: italic;
    color: white;
    border:2px solid white;
}

h4{
    text-align: justify;
font-family: 'Redressed',cursive;   
font-size: 30px;
    font-style: italic;
}

h3{
    
        text-align: center;
    font-family: 'Redressed',cursive;    
    font-size: 45px;
        font-style: italic;
    
}
.right{
    float: right;
    padding: 0 10px;
}
.left{
   
   background-color: rgb(199, 161, 135); 
   color:black;
   line-height: 30px;
   text-align:center;
   font-size: 2vw;
   font-family: 'Redressed',cursive;
    
    
    

} 

.left>a{
    font-size:2vw; 
}

div.careers{
    margin:  50px;
    font-family: 'Redressed',cursive;   
    background-color:rgb(238, 220, 194);
    
   border: 4px solid white;
   border-radius: 15px;
   float:left;
    text-align: center;
  
   font-style: italic;  
   width:190px;
   height: 180px;
   font-size: 20px;
}
div.gallery:hover  .border {
    display: block;
    border: 1px solid #777;
    border-radius: 25px;
    box-shadow: 10px -10px white;
    
}
div.center{
   
     
     padding:0 70px 0px 70px;  
     
     text-align: justify;
     
        color: rgb(199, 161, 135);
   
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     
     
}
 

.manage_img{
    background-image: url('../images/Management.jpg'); 
    min-height: 180px;
   
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    position: relative; 
    
}

.kitchen_img{
    background-image: url('../images/Kitchen.jpg'); 
    min-height: 180px;
   
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    
    position: relative; 
   
}

.FOH_img{
    background-image: url('../images/FOH.jpg'); 
    min-height: 180px;
   
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    
    position: relative; 
   
}

.mission{ 
   
        text-align: justify;
    
    font-family: 'Redressed',cursive;   
    font-size: 32px;
    font-style: italic;
        
      
}

 .column {
     /* display: inline-block; */
    float: left;    
     width: 33.33%; 
    padding: 40px 120px 20px 25px;
    align-content: stretch;
    
    text-align: justify;
/* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
font-family: 'Redressed',cursive;   
font-size: 2vw;
    font-style: italic;
    
  }
  
  
  .row::after {
    content: "";
    clear: both;
    display: table;
    
  }

a:visited {
    color: black;
}

a:hover {
    color: white;
}

.tt-img{
    background-image:url('../images/blurred-background-cafe-close-up-1064767.jpg'); 
    min-height: 450px;
  
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    position: relative;
  
}


.bg-img {
    /* The image used */
    background-image: url('../images/architecture-contemporary-flowers-704982.jpg'); 
    min-height: 450px;
  
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    position: relative;
  }
  
  /* Position the navbar container inside the image */
  .container {
    position: relative;
    margin: 25px;
    
    width: auto;
  }
.ig-img{
   
        /* The image used */
        background-image: url('../images/Bread.jpg'); 
        min-height: 450px;
      
        
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        
        position: relative;
      }  
  

   .main-menu .active {
    background-color: rgb(151, 87, 49);
     }  

      .main-menu a:hover:not(.active) {
    background-color:  rgb(151, 87, 49);
  }  
  .menu-img {
   
    background-image: url('../images/aroma-barista-blurred-background-1394841.jpg');
    min-height: 450px;
  
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    position: relative;
  }

  .m-img{
    
    background-image: url('../images/menu4.jpg');
    min-height: 590px;
  
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    position: relative;
  }

  .loc-img{
    /* The image used */
    border-spacing: 5px;
  background-image: url('../images/boston.jpg');
  min-height: 590px;

  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  
  position: relative;
}

.c-img{
    /* The image used */
    border-spacing: 5px;
  background-image: url('../images/Dessertscropped.jpg');
  min-height: 590px;

  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  
  position: relative;
}
.carr-img{
 
  background-image: url('../images/team.jpg');
  min-height: 590px;

  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  
  position: relative;
}

.l-img{
    /* The image used */
    background-color: white;
    border-spacing: 5px;
  background-image: url('../images/Connected.jpg');
  min-height: 590px;

  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  
  position: relative;
}

.terms{
    
    /* margin-top: 50px;
    margin-bottom: 40px; */
    text-align: center;
    font-family: 'Redressed',cursive;
    /* font-family: 'Times New Roman', Times, serif; */
    font-size: 4vw;
    color: black;
    margin-bottom: 20px;
}

.companyname{
   
    color:rgb(209, 152, 113);
    font-size: 2vw;
}

.policy{
    /* float: left; */
    /* width: 33.33%; */
    padding: 0px 80px 40px 40px;
    align-content: stretch;
    
    text-align: justify;
/* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
font-family: 'Redressed',cursive;   
font-size: 2vw;
    font-style: italic;
}

a{
	display:block;
	padding:10px 0;
	color:black;
    text-decoration:none;
    /* font-family:Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Redressed',cursive;
    font-style: italic;
    font-size: 30px;
}

.main-menu{
    display:flex;
    margin-top:20px;
    position: relative;
    padding: 20px;
    
}
.main-menu>li{
	flex:1;
    text-align:center;
 
    background-color:  rgba(199, 161, 135,0.6);
    /* background-color: #f0e2cd; */
   
    
}



.sub-menu-layout-1>li>a{
    
    background-color: rgba(199, 161, 135,0.6);
    position: relative;
}

.sub-menu-layout-2>li>a{
    background-color: rgb(145, 110, 90);
    position: relative;
}

.main-menu>li:not(:first-child){
	margin-left:2px;
}

.sub-menu-layout-1>li{
	margin-top:1px;
}

.sub-menu-2{
    position:relative;
    
}
.sub-menu-layout-2{
	position:absolute;
	width:100%;
	left:100%;
	top:0%;
}

.sub-menu-layout-2>li:not(:first-child){
	margin-top:1px;
}

.sub-menu-layout-2{
	margin-left:1px;
}

.sub-menu>a:after{
	content:"";
	width:10px;
	height:10px;
	display:inline-block;
	border-right:3px solid black;
	border-bottom:3px solid #fff;
	margin-left:10px;
	transform:rotate(45deg);
	position:relative;
	transition:1s transform ease;
}

.sub-menu-2>a:after{
	transform:rotate(315deg);
}

li>a:hover{
    font-size:21px;
    position: relative;
}

.sub-menu-layout{
	display:none;
}

.sub-menu-1:hover .sub-menu-layout-1,
.sub-menu-2:hover .sub-menu-layout-2{
	display:block;
}

.sub-menu-1:hover>a:after{
	transform:rotate(-135deg);
	/* top:3px; */
}

.sub-menu-2:hover>a:after{
	transform:rotate(135deg);
	
}

@media screen and (max-width:600px) {

    header h1{
        height: auto;
        width: auto;
    }
	.main-menu{
		flex-direction:column;
	}
	.sub-menu-1,.sub-menu-layout-2{
		position:static;
	}
	.main-menu>li:not(:first-child){
		margin-left:0;
		margin-top:1px;
	}
	
	.sub-menu-layout li:nth-child(n){
		margin:1px 0 0 0;
	}
	
	.sub-menu-2>a:after{
		transform:rotate(45deg);
	}
	
	.sub-menu-2:hover>a:after{
		transform:rotate(-135deg);
		top:3px;
	}
	
	.sub-menu-layout-1,.sub-menu-layout-2{
		display:block;
		margin:0;
		max-height:0px;
		overflow:hidden;
		transition:6s all ease;
	}
	
	.sub-menu-1:hover .sub-menu-layout-1,
	.sub-menu-2:hover .sub-menu-layout-2{
		max-height:280px;
    }

    table,thead,tbody,th,td,tr{
        display: block;
    }
    thead tr{
        position: absolute;
        top:-9999px;
        left: -9999px;
    }

    .column {
         
        margin-right: 10;
        padding: 20px 20px 20px 20px;
      
        
      }
     .col-img{
         /* margin: 0; */
         height: auto;
        width: 100%;


     } 

 .left{
     width: 100%;
     height: auto;
     line-height: 10px;
 }    
    tr{
        border : 2px solid #ccc;
    }

    th { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px dashed #eee; 
        position: relative;
        font-style: italic;
		padding-left: 50%; 
    }
   
	
	th:before { 
		/* Now like a table header */
		 position: absolute;
		/* Top/left values mimic padding */
		 top: 6px;
		left: 6px;
		width: auto; 
		 padding-right: 10px; 
		white-space: nowrap; 
    }

    
	 
 .Sandwich td:nth-of-type(1):before { content: "Medium";padding-right: 44%; }
  .Sandwich td:nth-of-type(2):before { content: "Large"; padding-right: 50%;}
/*	Label the data
	*/
	td:nth-of-type(1):before { content: "Small"; padding-right: 50%;}
	td:nth-of-type(2):before { content: "Medium";padding-right: 44%; }
	td:nth-of-type(3):before { content: "Large"; padding-right: 50%;}
	


  .Images {
      /* position: relative; */
       display: block;
       border: 1px solid #ccc;
       margin:0  10%;
       margin-bottom:4px;  
     
   } 

   .col-img img{
       display: inline-block;

   }

   .Images figcaption{
    text-align: center;
    font-family: 'Redressed',cursive;
    /* font-size: 30px; */
    /* width: 100%; */
}

/* 
  figcaption:after{
    
      text-align: left;
      font-size: 10px;
  } */

  input,textarea,select{
      width: 100%;
      margin-top:0;
      padding: 0;
      border: 1px solid #ccc;
      border-radius: 2px;
      font-size: 100%;
  }
  input[type=file]{
      width: 100%;
      border: none;
  }
  
} 



table{
    
    width: 100%;
    border: 2px solid white;
    border-collapse: collapse;
    border-spacing: 0px;
    font-family: 'Redressed',cursive;
    color: white;
    table-layout: auto;
    opacity: 0.8;
    background-color: black;
}
tr .coffee{
    /* float: left; */
    text-align: center;
    background: white;
    color:black;
    width: 100%;
}
th, td {
    
    font-family:'Times New Roman', Times, serif;
    text-align: left;
    padding: 8px;
    
  }


.Images{
   
        
        display: inline-block;
        /* width: 25%; */
        margin-right: 0;
        padding-bottom: 10px;
        /* border: 1px solid #777; */
        border-spacing: 1px;
        /* margin: 2; */

    
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: width 2s;
        /* border-spacing: 1px; */
       
}



figure>img:hover{
    
    top: 10px;
    /* width: 125%; */
    transform: scale(1.1);
    padding-bottom: 10px;
    
}
.Images figcaption{
    text-align: center;
    font-family: 'Redressed',cursive;
    font-size: 30px;
    /* width: 100%; */
}

label,input,textarea,select{
    display: block;
   
    margin-left: 35%;
    
    padding: 10px 0; 
    margin-top: 10px ;  
    margin-bottom: 10px;  
    color:#b088d4;
  
}

input,textarea,select{
   
    width: 32%; 
    margin-right: 40%;
    font-family: 'Redressed',cursive;
    font-size: 80%;
   
    
}
input[type=text],input[type=number],textarea,select{
    
    border: 1px solid black;
    border-radius: 4px;
}

.formstyle{
    padding: 30px 0;
    position: relative;
    font-family: 'Redressed',cursive;
    font-size: 200%;
    
}   
input[type=submit]:hover 
{
    background-color: rgb(206, 206, 206);
    
}
input[type=submit]
{
    color: black;
    border: 1px solid black;
    border-radius: 4px;
}


input,textarea,select {
    color: black;
}
.bk-img{
    background-image: url("../images/Application.jpg");
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
}